<div class="page">
  <div id="client_text_box">
    <%= hidden_field_tag "client_text[name]", 'description' %>
    <p>
      <%= @client.client_texts[0].name %> <%= f.hidden_field :filter_id, :value => 'Markdown'%>
    </p>
    <div><%= text_area_tag "client_text[content]", h(@client.client_texts[0].content), :style => "width: 100%; height: 13em;" %></div>
  </div>
</div>